<header class="site-header">
<div class="branding">
{% if site.theme.gravatar %}
<a href="{{ site.baseurl }}/">
<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt=""/>
</a>
{% elsif site.theme.avatar %}
<a href="{{ site.baseurl }}/">
<img class="avatar" src="/img/{{ site.theme.avatar }}" alt=""/>
</a>
{% endif %}
<h1 class="site-title">
<a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>
</h1>
</div>
<nav class="site-nav">
<ul>
<li>
<a class="page-link" href="/blog/">Blog</a>
</li>
<li>
<a class="page-link" href="https://metronotes.com">Community</a>
</li>
{% for page in site.pages %}
{% if page.title and page.hide != true %}
<li>
<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
</li>
{% endif %}
{% endfor %}
 
{% include icons.html %}
<li>
<script src="//blockr.io/js_external/coinwidget/coin.js"></script>
		<script>
			CoinWidgetCom.go({
				wallet_address: '1ADqCZiyWG2en4sNkbHvfH4GZ5JBNPA1DV',
				currency: 'bitcoin',
				counter: 'count',
				lbl_button: 'Donate',
				lbl_count: 'donations',
				lbl_amount: 'BTC',
				lbl_address: 'Use address below to donate. Thanks!',
				qrcode: true,
				alignment: 'bl',
				decimals: 8,
				size: "small",
				color: "dark",
				countdownFrom: "0",
				element: "#coinwidget-bitcoin-1ADqCZiyWG2en4sNkbHvfH4GZ5JBNPA1DV",
				onShow: function(){},
				onHide: function(){}
			});
		</script>
		<div id="coinwidget-bitcoin-1ADqCZiyWG2en4sNkbHvfH4GZ5JBNPA1DV"></div>
</li>
</ul>
</nav>
</header>
